

.gallery-container {
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 300px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #333;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    min-width: 100px;
}

button:hover {
    background-color: #555;
}

